*{margin: 0; padding: 0;}
*::before,::after{margin: 0; padding: 0;}
*{
    box-sizing: border-box;
}
ul,li {
    list-style: none;
}
body {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex; /*让子元素的高度变得一致*/
    position: relative;
}
.splitLine {
    border-left: 1px solid gray;
    height: 16px;
    margin: 0 10px;
}
.innerWrapper {
    position: relative;
    display: inline-block; /* 这个再绝对定位时候常用*/
}

.floatDiv {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
}

.innerWrapper > input[type=text] {
    width: 540px;
    height: 35px;
    padding: 8px;
}

svg.icon {
    width: 20px;
    height: 20px; 
    fill: #b8b8b8;
}
svg.icon:hover {
    fill: #4b94fc;
    cursor: pointer;
}
.suggestion {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}
.suggestion.active {
    display: block;
}

.innerWrapper + button {
    background: #317EF3;
    border: none;
    color: #FFFFFF;
    padding: 0 20px;
}
.innerWrapper + button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.2);
}